/* Reset default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* Set the background and text colors */
body {
  background-color: #f0f0f0;
  color: #23272a;
  font-family: Arial, sans-serif;
}

/* Container styles */
.conatiner {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Navigation styles */
.nav {
  background-color: #5865f2;
  padding: 10px;
}

.nav ol {
  list-style: none;
  display: inline-block;
  justify-content: center;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/* Content styles */
.content {
  margin-bottom: 40px;
  background-color: #2b2f31;
  color: white;
}

.content h2 {
  font-size: 24px;
  margin: 5%;
  margin-bottom: 20px;
  color: white;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #5865f2;
  color: #fff;
}

body {
  background-color: #23272a;
}

hr{
  background-color: #00b0f4;
  border-color:#00b0f4;
}